//Titles
.about-title
  font-size 18px
  font-weight bold
  margin 10px 0


//Photos
.about-photos
  padding 10px 0

.about-photos img
  border-radius 50%
  max-height 128px
  masx-width 128px

.about-photos span
  display block

.about-photos .person-status
  margin-top 10px
  font-weight bold

.about-photos .person-desc
  font-style italic