.mdl-layout__header
  @media screen and (max-width: 1024px)
    display flex

nav .mdl-navigation__link:hover
  opacity .7

.panel-title
  font-size 20px

.mdl-layout__drawer>.mdl-layout__title, .mdl-layout__drawer>.mdl-layout-title
  padding-top 20px
  line-height 120%