div.mdl-card__title
    h2.mdl-card__title-text О нас
div.mdl-card__supporting-text.mdl-card--expand
    div.about-title Подразделение разработки [MireaDev]
    | Это студенческая структура, в которой ребята,
    | интересующиеся программированием, создают приложения для оптимизации жизни внутри МТУ,
    | а также проводят хакатоны, образовательные курсы и другие мероприятия, нацеленные на развитие в сфере ИТ.
    div.about-title.margin-top-32 Кураторы
    div.about-photos.mdl-grid.flex-around
        div.mdl-cell--3-col.flex-center
            img(src="build/img/about/photo.jpg")
            span.person-status Team lead
            span.person-desc Team lead
        div.mdl-cell--3-col.flex-center
            img(src="build/img/about/photo.jpg")
            span.person-status Android Dev
            span.person-desc Android Dev
        div.mdl-cell--3-col.flex-center
            img(src="build/img/about/photo.jpg")
            span.person-status Web Dev
            span.person-desc Web Dev
        div.mdl-cell--3-col.flex-center
            img(src="build/img/about/photo.jpg")
            span.person-status Designer
            span.person-desc Designer


            //About us
                                   div#about.panel.panel-primary.margin-top-25
                                       div.panel-heading.bg-blue
                                           h2.panel-title.text-center О нас

                                       div.panel-body.text-center
                                           div.about-title Подразделение разработки [MireaDev]
                                           | Это студенческая структура, в которой ребята,
                                           | интересующиеся программированием, создают приложения для оптимизации жизни внутри МТУ,
                                           | а также проводят хакатоны, образовательные курсы и другие мероприятия, нацеленные на развитие в сфере ИТ.
                                           div.about-title Кураторы
                                           div.about-photos.clearfix
                                               div.col-md-3
                                                   img(src="build/img/about/photo.jpg")
                                                   span.person-status Team lead
                                                   span.person-desc Team lead
                                               div.col-md-3
                                                   img(src="build/img/about/photo.jpg")
                                                   span.person-status Android Dev
                                                   span.person-desc Android Dev
                                               div.col-md-3
                                                   img(src="build/img/about/photo.jpg")
                                                   span.person-status Web Dev
                                                   span.person-desc Web Dev
                                               div.col-md-3
                                                   img(src="build/img/about/photo.jpg")
                                                   span.person-status Designer
                                                   span.person-desc Designer


            //Info blocks
                                    div.rows.clearfix
                                        div.col-lg-3.col-md-6.col-sm-12.col-xs-12
                                            div.info-block.text-center
                                                div.key 60+
                                                div.value Участников

                                        div.col-lg-3.col-md-6.col-sm-12.col-xs-12
                                            div.info-block.text-center
                                                div.key 4
                                                div.value Вектора разработки

                                        div.col-lg-3.col-md-6.col-sm-12.col-xs-12
                                            div.info-block.text-center
                                                div.key 10+
                                                div.value Задач

                                        div.col-lg-3.col-md-6.col-sm-12.col-xs-12
                                            div.info-block.text-center
                                                div.key 1
                                                div.value Общая цель