//Footer
                    footer.mdl-mini-footer.flex-center.text-center.full-width
                        div.mdl-mini-footer__left-section.mdl-grid.flex-center
                            ul.mdl-mini-footer__link-list.footer-links.mdl-cell--6-col.flex-column
                                li
                                    span.fa-vk.fa.fa-lg.footer-icons
                                    a(href="https://vk.com/mireadev") ВКонтакте
                                li
                                    span.fa-github.fa.fa-lg.footer-icons
                                    a(href="https://github.com/mireadev/") GitHub
                            ul.mdl-mini-footer__link-list.footer-links.mdl-cell--6-col.flex-column
                                li
                                    span.fa-lightbulb-o.fa.fa-lg.footer-icons
                                    a(href="mailto:work@mirea.top") Предложения: work@mirea.top
                                li
                                    span.fa-file-text-o.fa.fa-lg.footer-icons
                                    a(href="mailto:press@mirea.top") Пресса: press@mirea.top
                            ul.mdl-mini-footer__link-list.footer-links.mdl-cell--12-col.flex-center.flex-column
                                li
                                    span 2016, MireaDev Team