header.row.header
    div.visible-xs.col-xs-12.header-title MireaDev
    div.hidden-xs.col-sm-6.header-title Подразделение разработки

    nav.col-xs-12.col-sm-6.header-nav
        a(href='#about').header-link О нас
        a(href='#contact').header-link Связаться с нами
        a(href='#join').header-link Стать частью команды