header.row
    div.row
        div.visible-xs.col-xs-12 MireaDev
        div.hidden-xs.col-sm-6 Подразделение разработки

        nav.col-xs-12.col-sm-6
            a(href='#about').header-link О нас
            a(href='#contact').header-link Связаться с нами
            a(href='#join').header-link Стать частью команды