header.row.flex-column__xs.header
    div.visible-xs.col-xs-12.header-title.flex-center MireaDev
    div.hidden-xs.col-sm-6.header-title Подразделение разработки

    nav.row.col-xs-12.col-sm-6.header-nav
        a(href='#about').col-xs-12.header-link О нас
        a(href='#contact').col-xs-12.header-link Связаться с нами
        a(href='#join').col-xs-12.header-link Стать частью команды