header.mdl-layout__header.mdl-color--blue-grey
    div.mdl-layout__header-row
        span.mdl-layout-title.my--large-screen-only Подразделение разработки
        span.mdl-layout-title.my--small-screen-only MireaDev
        div.mdl-layout-spacer
        nav.mdl-navigation.mdl-layout--large-screen-only
            a.mdl-navigation__link(href='#about') О нас
            a.mdl-navigation__link(href='#contact') Связаться с нами
            a.mdl-navigation__link(href='#join') Стать частью команды

//Mobile nav
div.mdl-layout__drawer
    span.mdl-layout-title Подразделение разработки
    nav.mdl-navigation
        a.mdl-navigation__link(href='#about') О нас
        a.mdl-navigation__link(href='#contact') Связаться с нами
        a.mdl-navigation__link(href='#join') Стать частью команды