.header
  padding 30px 0

.header nav
  padding 0

.header-title
  padding 0
  font-size 160%

.header-nav
  text-align right
  @media (max-width 48em)
    text-align center
  @media (min-width: 48em) and (max-width: 64em)
    text-align left
