.visible-xs
  display none !important
  @media (max-width 767px)
    display flex !important

.visible-sm
  display none !important
  @media (min-width 768px) and (max-width 991px)
    display flex !important

.visible-md
  display none !important
  @media (min-width 992px) and (max-width 1199px)
    display flex !important

.visible-lg
  display none !important
  @media (min-width 1200px)
    display flex !important
