.visible-xs__block
  display none !important
  @media (max-width 767px)
    display block !important

.visible-sm__block
  display none !important
  @media (min-width 768px) and (max-width 991px)
    display block !important

.visible-md__block
  display none !important
  @media (min-width 992px) and (max-width 1199px)
    display block !important

.visible-lg__block
  display none !important
  @media (min-width 1200px)
    display block !important
