.flex-column
  flex-direction column

.flex-column__xs
  @media (max-width 767px)
    flex-direction column

.flex-column__sm
  display none !important
  @media (min-width 768px) and (max-width 991px)
    flex-direction column

.flex-column__md
  display none !important
  @media (min-width 992px) and (max-width 1199px)
    flex-direction column

.flex-column__lg
  display none !important
  @media (min-width 1200px)
    flex-direction column