body
    div.container
        //header
        include ../sections/header

        //studying
        include ../sections/studying

        //teams
        include ../sections/teams

        //projects
        include ../sections/projects

        //about
        include ../sections/about

        //contact
        include ../sections/contact

        //links
        include ../sections/links

        //footer
        include ../sections/footer