.header-blue
  background-color #2196F3 !important
  border-color #010306 !important

.header-blue a
  color #b2dbfb !important

.header-blue a:hover
  color white !important

.header-blue .navbar-toggle
  border none

.header-blue .navbar-toggle:hover
  background-color #1d85d6