.bg {
  background: url('../img/parallax/main.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  left: 0;
  height: 500px; /*same height as jumbotron */
  z-index: -1;
	
	-moz-background-size: cover; /* Firefox 3.6+ */ 
-webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */ 
-o-background-size: cover; /* Opera 9.6+ */ 
background-size: cover; 
}

.jumbotron {
  height: 500px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}
